body {
    max-width: 800px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

.bookshelf, th, td , .add_book {
    border: 3px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
  }
