{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Add a book to your bookshelf, {{ current_user.username }}!</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.author.label }}<br>
        {{ form.author(cols=50, rows=4) }}<br>
        {% for error in form.author.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.notes.label }}<br>
        {{ form.notes(cols=50, rows=4) }}<br>
        {% for error in form.notes.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.purchase_date.label }}<br>
        {{ form.purchase_date(cols=50, rows=4) }}<br>
        {% for error in form.purchase_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}