<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <h1>bookshelf.</h1>
            <h3>
                <a href="{{ url_for('main.index') }}">Home</a>
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.signup')}}">Sign Up</a>
            </h3>

        <h4>{{ current_user.username }} has sent you their booklist!</h4>
            <table class="bookshelf">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Purchase Date</th>
                    <th>Notes</th>
                </tr>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.purchase_date }}</td>
                    <td>{{ book.notes }}</td>
                </tr>
                {% endfor %}
    </body>
</html>