{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<h1>Welcome, {{ current_user.username}}!</h1>
<h2>Here are your books...</h2>
    <table class="bookshelf">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Purchase Date</th>
            <th>Notes</th>
        </tr>
        {% if user == current_user %}
        {% for books in books %}
        <tr>
            <td>{{ books.title }}</td>
            <td>{{ books.author }}</td>
            <td>{{ books.purchase_date }}</td>
            <td>{{ books.notes }}</td>
            <td><a href="{{ url_for('edit_book') }}">Edit this book</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <form class="add_book" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>

<h3><a href="{{ url_for('logout')}}">Logout</a></h3>
{% endblock %}