{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<h1>Welcome, {{ current_user.username}}!</h1>
<h2>Here are your books...</h2>
    <table class="bookshelf">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Purchase Date</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
        {% if user == current_user %}
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.purchase_date }}</td>
            <td>{{ book.notes }}</td>
            <td><a href="{{ url_for('edit_book', book_id=book.id) }}">Edit</a></td>
            <td><a href="{{ url_for('remove_book', book_id=book.id) }}">Remove</a></td>

        </tr>
        {% endfor %}
        {% endif %}
    </table>

<h3><a href="{{ url_for('logout')}}">Logout</a></h3>
{% endblock %}